<head>
<link rel='stylesheet' href='app/assets/stylesheets/application.css'>
</head>

<body>
<table style="width:100%">
<%= render 'shared/header_common' %>

		<p>
			<% @categories.each do |grouping| %>
					<%= grouping.genre %>
			<% end %>

		</p>

		<div id="content" class="white-bkg">
					<%= @categories %>
						<p>
							<% @titles.each do |poster| %>
								<form method='post'>
									<a href='/titles/<%= poster.id %>'><img src='/<%= poster.small_image %>' style='height:200px' class="indent-a"></a>

							<% end %>
				<!--			<form method='post'>
								<img src='/mrpeabody.jpg'  style="display: block; margin: auto; height:375px">
							</form>

							-->
						</p>
		</div>

	</div>

	<div id="footer" class="black-banner">
		Copyright © VideoFliX
	</div>

</table>

</body>